
/*===========================================================================*/
                        /* ~~~ Utility ~~~ */ 
/*===========================================================================*/

.clearfix{
    overflow: hidden;
    z-index: 10;
}

.hidden {
    visibility: hidden;
}

.dynamic-background {
    background-color: gold;
    border: 2px dashed black;
    border-radius: 10px;
}

.padding {
    padding: 5px;
}
/*===========================================================================*/
                        /* ~~~ Goldrush Stuff ~~~ */ 
/*===========================================================================*/


/*==============================  MAP  =============================*/
        
.map{
	width : 100%;


}

.map-container {
	width: 1100px;
	position: relative;
}

/*===========================  X/Y coordinates  =============================*/
        
#log{
	height : 30px;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 100px;
	border: 1px solid white;
}

/*===========================  Dynamic Markers  =============================*/

.marker-container {
    position: absolute;
}

.marker {
    display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 100px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #323C6B;
    margin: 0;
    padding: 0;
}


/*==============================  INPUTS  =============================*/
        
.input-container {
    color: black;
    font-family: 'Poiret One', sans-serif;
    font-size: 18px;
    max-width: 500px;
    word-wrap: break-word;
}

.input-field {
    border-radius: 5px;
    border: 1px solid black;
}